body {
    font-family: serif;
    color: darkblue;
    font-size: small;
    background-color: beige;
    background-image: url("selfavoiding.png");
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
}

p {
    color: darkblue;
}

a {
    color: black;
}

arrow {
    color: navy;
}
